{{#each this}}
    <option value="{{id}}">{{username}}</option>
    <option value="{{id}}">{{username}}</option>
    <option value="{{id}}">{{username}}</option>
    <option value="{{id}}">{{username}}</option>
{{/each}}
